body {
    font-family: soleil, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 967px) {
    body {
        font-size: 14px;
    }
}

#login-button:hover #login-arrow-group {
    right: -28px;
}

[data-anim=section-card]:hover [data-anim=section-card-icon-animation] {
    top: -60px;
}